<ion-header>
  <ion-toolbar color="secondary" class="ion-text-center">
    <ion-title> Despesas cadastradas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngFor="let d of this.ds.obterTodas()">
    <ion-row>
      <!-- <ion-row *ngFor="let d of Despesas"> -->
      <ion-col>
        <ion-item>  
          <ion-label><ion-icon name="heart-half-outline"></ion-icon>{{d.motivo}}</ion-label>
          <ion-label><ion-icon name="cash-outline"></ion-icon> R${{d.valor}}</ion-label>
          <ion-label> <ion-icon name="list-circle-outline"></ion-icon> {{d.tipo}}</ion-label>
          <ion-label> <ion-icon name="trail-sign-outline"></ion-icon> {{d.regime}}</ion-label>
          <ion-label><ion-icon name="calendar-number-outline"></ion-icon> {{d.data | date: 'dd/MM/yyyy'}}</ion-label>
          <ion-button fill="outline" slot="end">Detalhe</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>